:root {
    /*==========
    Colors 
    ==========*/

    --site-accent: #B7C136;

    --aqua: #5795aa;
    --gold: #ffbe3b;
    --pink: #d35f8e;

    /* Social Accents */
    --vk-accent: #5795aa;
    --twitter-accent: #7cb3ce;
    --facebook-accent: #5795aa;
    --instagram-accent: #5878b7;
    --ok-accent: #f2a64c;

    --darker-white: #f5f5f4;
    --light-gray: #c4c4c4;
    --brown: #706a5e;
    --blue-gray: #5e727c;
    --dark-blue: #003249;
    --dark-teal: #023248;
    --turquoise: #007bba;
    --dark-orange: #d68f32;
    --light-red: #ed564a;

    /*==========
    Other 
    ==========*/

    --section-limit-width: 1200px;
    --section-limit-width-padding: 1.5rem;

    --nav-height: 50px;
    --nav-link-padding: 2rem;
    --nav-corners-border-radius: .35rem;
}

body {
    color: var(--dark-teal);
}

/* Dark Overlay */

.dark-overlay {
    position: relative;
}

.dark-overlay::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    pointer-events: none;
}

.dark-overlay-10::after {
    opacity: .10;
}

.dark-overlay-15::after {
    opacity: .15;
}

/* Link */

.link {
    color: var(--turquoise);
    text-decoration: underline;
    transition: color .15s;
    font-size: 18px;
    font-weight: 500;
}

.link:hover {
    color: var(--site-accent);
}

/* Width Limiter */

.width-limiter {
    max-width: var(--section-limit-width);
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */

.custom-navbar {
    display: grid;
    grid-template-columns: calc((100% - var(--section-limit-width)) / 2) 1fr auto 1fr calc((100% - var(--section-limit-width)) / 2);
    grid-template-rows: 1fr .7fr;

    grid-template-areas:
        ".              socials  site-logo contact-us               ."
        "left-nav-dummy left-nav site-logo right-nav  right-nav-dummy";
}

.grid-socials {
    grid-area: socials;
}

.grid-left-nav {
    grid-area: left-nav;
}

.grid-right-nav {
    grid-area: right-nav;
}

.grid-left-nav-dummy {
    grid-area: left-nav-dummy;
}

.grid-right-nav-dummy {
    grid-area: right-nav-dummy;
}

.grid-hr {
    grid-area: hr;
}

.grid-site-logo {
    grid-area: site-logo;
}

.grid-contact-us {
    grid-area: contact-us;
}

/* Button with line on top  */

.btn-top-line .btn {
    background-color: none;
}

.btn-top-line::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    transition: background-color .15s;
}

input:checked+.btn-top-line::before {
    background-color: var(--turquoise)
}

.btn-top-line:hover,
input:checked+.btn-top-line {
    color: var(--turquoise)
}

.btn-group input[type="radio"] {
    display: none;
}

/* Socials */

.social {
    align-items: center;
    border-radius: 100%;
    border: solid var(--blue-gray) 1px;
    color: var(--blue-gray);
    display: flex;
    height: 29px;
    justify-content: center;
    position: relative;
    transition: background-color 0.15s, border-color 0.15s, border-color 0.15s;
    width: 29px;
}

.dark .social {
    border-color: white;
    color: white;
}

.social--small {
    height: 20px;
    width: 20px;
    font-size: 10px;
}

.social--vk:hover {
    background-color: var(--vk-accent);
    border-color: var(--vk-accent);
}

.social--twitter:hover {
    background-color: var(--twitter-accent);
    border-color: var(--twitter-accent);
}

.social--facebook:hover {
    background-color: var(--facebook-accent);
    border-color: var(--facebook-accent);
}

.social--instagram:hover {
    background-color: var(--instagram-accent);
    border-color: var(--instagram-accent);
}

.social--ok:hover {
    background-color: var(--ok-accent);
    border-color: var(--ok-accent);
}

.social:hover {
    color: white;
}

/* Card statistic */

.card-stat {
    align-items: center;
    border: solid 1px var(--site-accent);
    border-top: none;
    display: flex;
    justify-content: center;
    padding: 1.5rem 2rem;
    position: relative;
    text-align: center;
    height: 100%;
}

.card-stat::before,
.card-stat::after {
    content: "";
    position: absolute;
    background-color: var(--site-accent);
    top: 0;
    width: 20%;
    height: 1px;
}

.card-stat::before {
    left: 0;
}

.card-stat::after {
    right: 0;
}

.card-stat__header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 72px;
    font-weight: 700;
}

.card-stat__header-info {
    left: 0;
    top: 0;
    transform: translateY(-100%);
    font-size: 18px;
    font-weight: 400;
}

.card-stat__description {
    padding: 2rem 0 0;
    color: var(--brown);
    font-size: 14px;
}

/* Section Component: Topbar */

.section-topbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.section-topbar__header {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

/* Topbar Component: Nav Buttons */

.section-topbar__buttons {
    display: flex;
    flex-wrap: wrap;
}

.section-topbar__buttons label {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Topbar Component: Nav Buttons */

.section-topbar__nav-buttons {
    display: flex;
}

.section-topbar__nav-buttons>* {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Topbar Component: Search Area */

.section-topbar__search {
    width: 25rem;
    position: relative;
}

.section-topbar__search-text {
    outline: none;
    border: none;
    width: 90%;
    background-color: transparent;
}

.section-topbar__search-text::placeholder {
    font-size: 14px;
    opacity: .4;
}

.section-topbar__icon {
    color: initial;
    position: absolute;
    right: 0;
}

.section-topbar__icon:hover {
    color: var(--site-accent);
}

/* Section Component: Light Topbar */

.section__btn-show-all {
    border-color: var(--blue-gray);
}

.section__btn-show-all:hover {
    background-color: var(--site-accent);
    border-color: var(--site-accent);
    color: white;
}

.section-topbar__nav-button {
    border-color: var(--turquoise);
    color: var(--turquoise)
}

.section-topbar__nav-button:hover {
    background-color: var(--site-accent);
    border-color: var(--site-accent);
    color: white;
}

.section-topbar__buttons .btn-top-line {
    color: var(--blue-gray);
}

/* Section Component: Dark Topbar */

.dark .section-topbar__header {
    color: white;
}

.dark .section__btn-show-all {
    border-color: white;
    color: white;
}

.dark .section__btn-show-all:hover {
    background-color: var(--site-accent);
    border-color: var(--site-accent);
    color: white;
}

.dark .section-topbar__nav-button {
    border-color: white;
    color: white
}

.dark .section-topbar__buttons .btn-top-line {
    color: white;
}

/* Card Article */

.card-article {
    box-shadow: 0 1rem 48px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform .15s;
    border: none;
    height: 100%;
    color: unset;
}

.card-article-tag {
    align-items: center;
    border-radius: .3rem;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    height: 2.5rem;
    justify-content: center;
    left: 50%;
    line-height: 1.2;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateY(-50%) translateX(-50%);
    width: 12.5rem;
}

.card-article .card-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.card-article .card-body {
    position: relative;
}

.card-img-top-wrapper {
    overflow: hidden;
}

.card-img-top {
    transition: transform .15s;
}

.card-article__description {
    font-size: 16px;
    font-weight: 500;

    margin: 1rem 0 1.5rem;
}

.card-article__date {
    font-size: 12px;
    color: var(--blue-gray);
}

.card-article:hover {
    transform: translateY(.5rem);
    text-decoration: none;
}

.card-article:hover .card-img-top {
    transform: scale(1.2);
}

.card-article:hover .card-article__description {
    color: var(--site-accent);
}

/* Immersive Card Article */

.card-article-immersive .card-body {
    justify-content: flex-end;
}

.card-article-immersive .card-img-top-wrapper {
    height: 12rem;
}

.card-article-immersive .card-img-top-wrapper {
    overflow: visible;
}

.card-article-immersive .card-img-top {
    position: absolute;
    height: 100%;
}

.card-article-immersive .card-article__description {
    margin-bottom: .5rem;
}

.card-article-immersive .card-article__description,
.card-article-immersive .card-article__date {
    color: white !important;
}

.card-article-immersive.card-article:hover {
    transform: none;
}

/* FAQ Compoenent */

.faq-items__header {
    color: var(--turquoise);
    font-size: 18px;
    font-weight: 400;
}

.faq-item__question {
    font-size: 14px;
    flex: 1 0 0;
    margin-right: 3rem;
}

.faq-item__answer {
    font-size: 14px;
    font-weight: 500;
}

.faq-item__switcher {
    align-items: center;
    display: flex;
    height: 4.375rem;
    justify-content: center;
    width: 4.375rem;
}

.faq-banner {
    background-color: var(--darker-white);
    padding: 2.5rem 1.5rem 1.5rem;
    text-align: center;
}

.faq-banner__description {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

/* Sections */

#stats-section {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

#for-all-family-section {
    background: url("/img/for-all-family-min.svg");
    background-color: #f5f5f4;
}

#qa-section {
    background-color: white;
}

#events-section {
    background-color: #7cb3cd;
}

/* Horizontal Lines */

section .section-hr {
    background-color: var(--turquoise);
}

.faq-items .section-hr {
    background-color: var(--light-gray);
}

#qa-section .section-hr {
    background-color: var(--site-accent);
}

.dark .section-hr {
    background-color: white;
}

footer {
    background-color: var(--blue-gray);
    color: white;
    padding: 1rem 0;
    font-size: 12px;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {

    .width-limiter {
        padding: 0 var(--section-limit-width-padding);
    }

    .custom-navbar {
        grid-template-columns: var(--section-limit-width-padding) 1fr auto 1fr var(--section-limit-width-padding);
    }

}

@media screen and (max-width: 991px) {

    .custom-navbar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;

        grid-template-areas:
            "left-nav"
            "right-nav"
            "hr"
            "socials"
            "contact-us";
    }

}